body
{
    font-family: "Protest Riot", sans-serif;
    background-image: url('../images/index.png');
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


a
{
    text-decoration: none;
    color: white;
}
header, footer
{
    display: flex;
    flex: 0;
}

/* main */
.my_main
{
    display: flex;
    flex: 1;
}


/* nav */
.navigate
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* nav a -> title  */
.nav_div
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
}

.light {
    img {
        max-width: 23px;
        max-height: 23px;
    }
}

.nav_div_cate
{
    display: flex;
    flex-direction: row;
 
}

.li
{
    flex: 1;
    display: inline-block;
    text-align: center;
}



.my_main
{
    display: flex;
    flex: 1;
    padding: 16rem;

}

.card-content
{
    display: flex;
    flex: 1;
    border: 2px solid white;
    
   
}


.card
{
    --bs-card-bg:  url("'../images/index.png'");
}

h3
{
    color: white;
    font-size: 30px;
}

.menu
{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.menu_list
{
    display: flex;
    flex-direction: column;
    
}

.level.is-mobile
{
    display: block;
    margin-bottom: 2rem;
}

.level-start
{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.level-end
{
   float: right;
   padding-right:2em;
   font-size: 20px;

}

.level-start-college
{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}


.level-start-shopping
{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.level-start-delivery
{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.level-end-delivery
{
    float: right;
    padding-right:2em;
    font-size: 20px;
}


.level-end-shopping
{
    float: right;
    padding-right:2em;
    font-size: 20px;
}

.level-end-college
{
    float: right;
    padding-right:2em;
    font-size: 20px;
}


.level-end-byu
{
    float: right;
    padding-right:2em;
    font-size: 20px;
}
