


.light {
  img {
      max-width: 23px;
      max-height: 23px;
  }
}


a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Protest Riot", sans-serif;
  background-image: url('/images/index.png');
  color:white;
}

menu
{
  display: flex;
  list-style-type: none;
}

.li
{
  flex: 1;
  display:inline-block;
  text-align: center;
}

.title
{
  display: flex;
}

.small_title
{
  flex: 1;
  text-align: center;
  font-size: 35px;
}

.main
{
  display: flex;
  height: 700px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main h1
{
  text-align: center;
}

.describe
{
  text-align: center;
  margin: 5px;
}

.form input
{
  vertical-align: middle; 
  /* 将两个input password 和username 垂直居中对其 */
  
}
.form button
{
  left: 4.3rem;
  position:relative;

}


footer
{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 30px;
}


#root
{
  width:100%;
}
